body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
    justify-content: space-between;
    min-height: 100vh;
}


.header, .part1, .middle, .content, .card
{

display: flex;
justify-content: space-between;
align-items: center;

}

.header, .part1,.middle
{
padding: 32px 20% 64px 20%;
background-color:#1F2937 ;
color: white;
}

.logo
{
    font-size: 24px;
    color:#f9faf8;
    font-weight: 900;
}
ul
{
 list-style-type: none;
 margin:0;
 padding: 0;
 display:flex;
 gap: 16px;
}
.textnearpicture
{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    flex-grow: 1;
    gap:16px;

}
.title
{
    font-size:48px;
    color:#f9faf8;
    font-weight:bolder;
}
.text 
{
    font-size: 18px;
    color:#e5e7eb;
}
#alm
{
    color:black;
}
button
{
    background-color: #3882F6;
    color:white;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    width: 100px;

}
.img1
{
    width: 500px;
    height: 300px;
    flex: 1;
}
.middle
{   flex-direction: column;
    text-align: center;
    background-color:white;
}
.title1
{
font-size: 36px;
font-weight: bolder;
color:#1F2937;
margin-bottom: 32px;
}
.box
{
display: flex;
justify-content: center;
gap:60px;
}
.inbox
{
    max-width: 180px;
    
}
.img2
{
    width: 160px;
    height: 180px;
    border: 5px solid #659cf4;
    border-radius: 30px;
}
.content
{ background-color: #E5E7EB;
  color:black;
  flex-direction:column;
  padding: 64px 25%;
}
#quote
{
  font-style: italic;
  font-weight:100;
}
.autor
{
    font-size: 18px;
    font-weight: 800;
    align-self: flex-end;
}
.card
{
    background-color: #3882F6;
    color:white;
    border-radius: 8px;
    margin: 64px 20%;
    padding: 64px 5%;
    
    /*box-shadow: 2px 4px 16px*/
}
.title2
{
   font-weight: bold;
   font-size: 30px;
}
.text2
{
    font-size: 18px
}
.two
{
    border:2px solid white;
}
.footer
{
    background-color:#1F2937;
    color: white; 
    text-align: center;
    margin-top: auto;
    font-size: 18px;
    padding: 8px;

}